/*
GERAL
*/

body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #4d4d4d;
}

h1, h2, h3,h4, h5 {
    margin: 0;
    
    font-weight: 700;
}

.botao {
    color: #f1f1f1;
    text-decoration: none;
    padding: 10px 30px;
    background-color: #8f3faf;
    font-size: .9em;
    border-radius: 3px;
}
.botao:hover{
    background-color: white;
    transition: 3s;
    color: #8f3faf;
}
.botao2{
    color: black;
    text-decoration: none;
    padding: 10px 30px;
    background-color: white;
    font-size: .9em;
    border-radius: 3px;
}
.botao2:hover{
    background-color: black;
    transition: 3s;
    color: white;
}
.BordaDasImgs:hover{
	box-shadow: 0 0 2px 1px #8f3faf;
}

/*
NAVEGAÇÃO
*/
/*Tamanho img ICONE*/
nav img{
	max-width: auto;
  	height: auto;
	float: left;
}
nav img:hover{
	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4d4d4d;
}

nav > a {
    text-decoration: none;
    color: #f1f1f1;
    font-weight: 700;
    font-size: 28px;
    font-family: Pacifico, serif;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

nav ul li {
    text-align: center;
    width: 100%;
}

nav ul li a {
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: #f1f1f1;
}
nav ul li a:hover{
    color:#8f3faf;
    transition-duration: 3s;
}


/*
CABEÇALHO
*/

header {
    background-image: url('../img/fundo.jpg');
    background-size: cover;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
    background-position: center;
    background-repeat: no-repeat;
    color: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

header p {
    margin-bottom: 2em;
}

/*
SOBRE
*/

#sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 20px 20px;
    background-color: #8f3faf;
    color: #f1f1f1;
}

#sobre p {
    margin-bottom: 2.5em;
    max-width: 1000px;
}

#sobre .botao {
    background-color: #f1f1f1;
    color: #4d4d4d;
}

/*
SERVIÇOS
*/

#servicos {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#servicos div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}
/*
formulario
*/

.center{
	width: 450px;
    position: relative;
    top: 90%;
    left: 33%;
    background-color:  #4d4d4d;
    border-radius: 3px;
    height: 455px;
    

}
.label{
    color: deeppink;
}

#portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

#portfolio h2 {
    margin-bottom: 20px;
}

#portfolio img {
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
}

fieldset {
    border: 0;
}

body, input, select, textarea, button {
    font-family: sans-serif;
    font-size: 1em;
}

.grupo:before, .grupo:after {
    content: " ";
    display: table;
}

.grupo:after {
    clear: both;
}

.campo {
    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 0.2em;
    color: white;
    display: block;
}

fieldset.grupo .campo {
    float:  left;
    margin-right: 1em;
}

.campo input[type="text"],
.campo input[type="email"],
.campo input[type="url"],
.campo input[type="tel"],
.campo select,
.campo input[type="cep"] {
    padding: 0.2em;
    border: 1px solid #CCC;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
	border-radius: 3px;
    background-color:none;
}

.campo select option {
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #FFC;
}

.campo label.checkbox {
    color: #000;
    display: inline-block;
    margin-right: 1em;
}

.botao3 {
    width: 400px;
    font-size: 1.0em;
    background-color:#879ae6;
    border-radius: 8px;
    color: #FFF;
    padding: 0.2em 0.6em;
    position: relative;
    left: 11px}

.botao3:hover {
	transition: 3s;
    background: white;
    background:linear-gradient(to bottom, #879ae6 5%, #abd5aa 100%);
    
    
}
.botao3, value{
	color: white;
}

.botao3, select, label {
    cursor: pointer;
}
#telefone{
	position: relative;
	left: 12px;
    
}
#email{
	position: relative;
	left: 12px;
}
#cep{
	position: relative;
	left: 12px;
}
/*
CONTATO
*/

#contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}
.tel{
	color: #4d4d4d;
	text-decoration: none;
}
.tel:hover{
    color: #053a69;
}
.Gmail{
	color:cornflowerblue;
	text-decoration: none;
    text-align: right;
    color:  #4d4d4d;
}
.Gmail:hover{
    color: #875305;
}

/*
FOOTER
*/

footer {
    text-align: center;
    padding: 10px;
    background-color: #4d4d4d;
    color: #f1f1f1;
}
.titulo-footer{
    float: left;
}
.nome_empresa{
	float: left;
    position: relative;
    top: 80px;
}

/*
MEDIA QUERIES
*/

@media screen and (min-width: 768px) {
    /*
    NAVEGAÇÃO
    */
    nav {
        flex-direction: row;
        justify-content: space-around;
    }
    
    nav ul {
        flex-direction: row;
        width: 70%;
    }
    
    /*
    CABEÇALHO
    */
    
    header {
        height: 600px;
        height: 60vh;
        justify-content: center;
    }
    
    /*
    SOBRE
    */
    
    #sobre {
        height: 250px;
        height: 30vh;
        justify-content: center;
        min-height: 250px;
    }
    
    /*
    SERVIÇOS
    */
    
    #servicos {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        max-width: 1000px;
        margin: 0 auto;
    }
    
    #servicos h2 {
        text-align: center;
        width: 100%;
    }
    
    #servicos div {
        flex-grow: 1;
        flex-basis: 150px;
        padding: 0 10px;
    }
    
    /*
    PORTFOLIO
    */
    
    #portfolio {
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    #portfolio h2 {
        width: 100%;
        text-align: center;
    }
    
    #portfolio img {
        width: 33.3333333333%;
    }
    
    /*
    CONTATO
    */
    
    #contato {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 500px;
        margin: 0 auto;
    }
    
    #contato h2,
    #contato p {
        width: 100%;
    }
    
}

.footer-bottom{
    display: fle
}
.footer{
display: flex;
background-color:#26272b;
padding:45px 0 20px;
font-size:15px;
line-height:24px;
color:#737373;
width: 100%;
}
.nos{
    width: 700px;
    text-align: left;
    position: relative;
    left: 22px;
    color: #4d4d4d;
}

.menu-footer{
    text-align: left;
    position: relative;
    left: 200px;
    list-style-type: none;
    text-decoration: none;
    
}
.menu-footer a{
    text-decoration: none;
     color: #737373;
}
.ctt{
    position: relative;
    left: 100px;
    display:block;
    text-align: left;

}
.menu-footer a:hover{
    color: white;
    transition: 4s;
}
.copirite{
    text-align: center;
    background-color:#26272b;
    
}
.copirite h3{
    color:#4d4d4d;
    font-size: 13px;
}
.whats{
    text-decoration: none;
    color:  #4d4d4d;
}
.whats:hover{
    color: #15eb19;
}
.telegram{
text-decoration: none;
    color:  #4d4d4d;
}
.telegram:hover{
    color: #45d9de;
}
.skype{
text-decoration: none;
    color:  #4d4d4d;
    
}
.skype:hover{
    color: #0a4966;
}
.ctt h3{
    color: aliceblue;
}
.menu-footer h3{
    color: aliceblue;
}
.nos h3{
    color: aliceblue;
}
a:hover{
transition: 3s;
    font-size: 16px;
}